The goal is to practice regression and time-series forecasting by related tasks i defined for this dataset.

The story is that suppose your client is a meal delivery company which operates in multiple cities. They have various fulfillment centers in these cities for dispatching meal orders to their customers. The client wants you to help these centers with demand forecasting for upcoming weeks so that these centers will plan the stock of raw materials accordingly.

The replenishment of majority of raw materials is done on weekly basis and since the raw material is perishable, the procurement planning is of utmost importance. Secondly, staffing of the centers is also one area wherein accurate demand forecasts are really helpful. Given the following information, the task is to predict the demand for the next 10 weeks (Weeks: 146-155) for the center-meal combinations in the test set:


Product(Meal) features such as category, sub-category, current price and discount
Information for fulfillment center like center area, city information etc.
id: Unique ID

week: Week No

center_id: Unique ID for fulfillment center

meal_id: Unique ID for Meal

checkout_price: Final price including discount, taxes & delivery charges

base_price: Base price of the meal

emailer_for_promotion: Emailer sent for promotion of meal

homepage_featured: Meal featured at homepage

In [3]:
import pandas as pd
import numpy as np
import plotly.express as px
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

In [4]:
df = pd.read_csv("food_demand_test.csv")
df.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured
0,1028232,146,55,1885,158.11,159.11,0,0
1,1127204,146,55,1993,160.11,159.11,0,0
2,1212707,146,55,2539,157.14,159.14,0,0
3,1082698,146,55,2631,162.02,162.02,0,0
4,1400926,146,55,1248,163.93,163.93,0,0

In [7]:
df.shape

(32573, 8)

In [9]:
df.isnull().sum()

id                       0
week                     0
center_id                0
meal_id                  0
checkout_price           0
base_price               0
emailer_for_promotion    0
homepage_featured        0
dtype: int64

In [8]:
df.week.value_counts(dropna=False)

148    3332
149    3313
150    3277
147    3271
153    3268
152    3242
146    3240
154    3228
151    3224
155    3178
Name: week, dtype: int64

In [5]:
df.center_id.value_counts(dropna=False)

13     509
10     508
52     506
174    504
67     499
      ...
139    321
57     311
162    310
41     299
91     280
Name: center_id, Length: 77, dtype: int64

In [6]:
df.meal_id.value_counts(dropna=False)

2290    770
2569    770
2664    770
1962    770
1754    770
2826    770
1727    770
1885    769
2490    769
2581    769
1109    769
1971    768
1558    767
1993    767
1062    766
2707    764
1778    762
2539    761
1543    760
1207    758
2322    752
1230    744
2640    735
2704    724
2631    717
2304    715
2760    712
1216    709
1878    709
2139    671
1525    668
1248    660
2492    638
2126    626
1445    602
2306    592
2444    568
1571    544
2577    540
2867    527
1770    486
1902    435
2956    426
1247    416
2104    361
1311    342
1803    341
1847    333
1438    327
1198    309
2494    305
Name: meal_id, dtype: int64

In [ ]:
fig = px.scatter(df, x = "")