In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [35]:
df = pd.read_csv("CenterSectorScheme2021-22.csv")
df.head()

,Category,Sl.No.,Ministry/Department,Scheme,Actuals2019-2020 - Revenue,Actuals2019-2020 - Capital,Actuals2019-2020 - Total,Budget Estimates2020-2021 - Revenue,Budget Estimates2020-2021 - Capital,Budget Estimates2020-2021 - Total,Revised Estimates2020-2021 - Revenue,Revised Estimates2020-2021 - Capital,Revised Estimates2020-2021 - Total,Budget Estimates2021-2022 - Revenue,Budget Estimates2021-2022 - Capital,Budget Estimates2021-2022 - Total
0,Demand No. 1,NaN,"Department of Agriculture, Cooperation and Far...",Total,81342.71,NA,81342.71,116490,NA,116490,103162.3,NA,103162.3,105018.81,NA,105018.81
1,Demand No. 1,1,"Department of Agriculture, Cooperation and Far...",Crop Insurance Scheme,12639.22,NA,12639.22,15695,NA,15695,15306.55,NA,15306.55,16000,NA,16000
2,Demand No. 1,2,"Department of Agriculture, Cooperation and Far...",Interest Subsidy for Short Term Credit to Farmers,16218.74,NA,16218.74,21175,NA,21175,19831.75,NA,19831.75,19468.31,NA,19468.31
3,Demand No. 1,3,"Department of Agriculture, Cooperation and Far...",Market Intervention Scheme and Price Support S...,2004.6,NA,2004.6,2000,NA,2000,996,NA,996,1500.5,NA,1500.5
4,Demand No. 1,4,"Department of Agriculture, Cooperation and Far...",Pradhan Mantri Annadata Aay Sanrakshan Yojna (...,313.18,NA,313.18,500,NA,500,300,NA,300,400,NA,400

In [36]:
df.columns

Index(['Category', 'Sl.No.', 'Ministry/Department', 'Scheme',
       'Actuals2019-2020 - Revenue', 'Actuals2019-2020 - Capital',
       'Actuals2019-2020 - Total', 'Budget Estimates2020-2021 - Revenue',
       'Budget Estimates2020-2021 - Capital',
       'Budget Estimates2020-2021 - Total',
       'Revised Estimates2020-2021 - Revenue',
       'Revised Estimates2020-2021 - Capital',
       'Revised Estimates2020-2021 - Total',
       'Budget Estimates2021-2022 - Revenue',
       'Budget Estimates2021-2022 - Capital',
       'Budget Estimates2021-2022 - Total'],
      dtype='object')

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 772 entries, 0 to 771
Data columns (total 16 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Category                              771 non-null    object
 1   Sl.No.                                705 non-null    object
 2   Ministry/Department                   771 non-null    object
 3   Scheme                                772 non-null    object
 4   Actuals2019-2020 - Revenue            772 non-null    object
 5   Actuals2019-2020 - Capital            772 non-null    object
 6   Actuals2019-2020 - Total              772 non-null    object
 7   Budget Estimates2020-2021 - Revenue   772 non-null    object
 8   Budget Estimates2020-2021 - Capital   772 non-null    object
 9   Budget Estimates2020-2021 - Total     772 non-null    object
 10  Revised Estimates2020-2021 - Revenue  772 non-null    object
 11  Revised Estimates2020-2021 - Capital  772 non-null    object
 12  Revised Estimates2020-2021 - Total    772 non-null    object
 13  Budget Estimates2021-2022 - Revenue   772 non-null    object
 14  Budget Estimates2021-2022 - Capital   772 non-null    object
 15  Budget Estimates2021-2022 - Total     772 non-null    object
dtypes: object(16)
memory usage: 96.6+ KB

In [38]:
df.isnull().sum()

Category                                 1
Sl.No.                                  67
Ministry/Department                      1
Scheme                                   0
Actuals2019-2020 - Revenue               0
Actuals2019-2020 - Capital               0
Actuals2019-2020 - Total                 0
Budget Estimates2020-2021 - Revenue      0
Budget Estimates2020-2021 - Capital      0
Budget Estimates2020-2021 - Total        0
Revised Estimates2020-2021 - Revenue     0
Revised Estimates2020-2021 - Capital     0
Revised Estimates2020-2021 - Total       0
Budget Estimates2021-2022 - Revenue      0
Budget Estimates2021-2022 - Capital      0
Budget Estimates2021-2022 - Total        0
dtype: int64

In [39]:
df.dropna(axis= 0, inplace= True)

In [40]:
df.isnull().sum()

Category                                0
Sl.No.                                  0
Ministry/Department                     0
Scheme                                  0
Actuals2019-2020 - Revenue              0
Actuals2019-2020 - Capital              0
Actuals2019-2020 - Total                0
Budget Estimates2020-2021 - Revenue     0
Budget Estimates2020-2021 - Capital     0
Budget Estimates2020-2021 - Total       0
Revised Estimates2020-2021 - Revenue    0
Revised Estimates2020-2021 - Capital    0
Revised Estimates2020-2021 - Total      0
Budget Estimates2021-2022 - Revenue     0
Budget Estimates2021-2022 - Capital     0
Budget Estimates2021-2022 - Total       0
dtype: int64

In [41]:
df["Budget Estimates2021-2022 - Total"].value_counts(dropna=False)

 NA       105
0.01       18
150        17
100        17
10         14
         ...
37.75       1
11          1
695.69      1
0.55        1
657.71      1
Name: Budget Estimates2021-2022 - Total, Length: 342, dtype: int64

In [42]:
df["Budget Estimates2021-2022 - Total"] = df["Budget Estimates2021-2022 - Total"].astype(float)

ValueError: could not convert string to float: ' NA'

In [43]:
df.groupby("Ministry/Department")["Budget Estimates2021-2022 - Total"].sum()

Ministry/Department
Atomic Energy                                                   NA1256.73 NA300 NA180 NA15075 NA650196 NA1031...
Capital Outlay on Defence Services                             29155724223.8267323490.11001001517 NA171002551...
Department for Promotion of Industry and Internal Trade        1501312.72000 NA245.5890.49 NA NA83030020.8312...
Department of Agricultural Research and Education                               32865195557082124830216035533225
Department of Agriculture, Cooperation and Farmers' Welfare            1600019468.311500.54003007006500050700900
                                                                                     ...
Ministry of Textiles                                           700136220115513.51061.534.3218743055299.52636 ...
Ministry of Tourism                                                              6300.03153305524.02144.77563.65
Ministry of Tribal Affairs                                                                 15030.011501101418.04
Ministry of Youth Affairs and Sports                                         165142175141.56283.853252657.715030
Police                                                                            77140.152130.323612.29510069.8
Name: Budget Estimates2021-2022 - Total, Length: 67, dtype: object

In [ ]:
df["Ministry/Department"].value_counts(dropna = False)

Ministry of Textiles                                46
Department of Higher Education                      40
Ministry of Micro, Small and Medium Enterprises     33
Ministry of Railways                                32
Department of Financial Services                    30
                                                    ..
Department of Land Resources                         2
Ministry of Steel                                    2
Ministry of Food Processing Industries               2
Department of Expenditure                            2
NaN                                                  1
Name: Ministry/Department, Length: 68, dtype: int64

In [ ]:
df["Ministry/Department"].values.sum()

TypeError: can only concatenate str (not "float") to str