In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("MovieFranchises.csv")
df.head()

,index,MovieID,Title,Lifetime Gross,Year,Studio,Rating,Runtime,Budget,ReleaseDate,VoteAvg,VoteCount,FranchiseID
0,0,1001,Star Wars: Episode IV - A New Hope,775398007,1977,Lucasfilm,PG,121.0,11000000.0,05-25-77,4.09,96233.0,101.0
1,1,1002,Star Wars: Episode V - The Empire Strikes Back,538375067,1980,Lucasfilm,PG,124.0,18000000.0,06-20-80,4.12,79231.0,101.0
2,2,1003,Star Wars: Episode VI - Return of the Jedi,475106177,1983,Lucasfilm,PG,135.0,32500000.0,05-25-83,3.98,76082.0,101.0
3,3,1004,Jurassic Park,1109802321,1993,Universal Pictures,PG-13,127.0,63000000.0,06-11-93,3.69,82700.0,102.0
4,4,1005,The Lost World: Jurassic Park,618638999,1997,Universal Pictures,PG-13,129.0,73000000.0,05-23-97,3.01,19721.0,102.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 605 entries, 0 to 604
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           605 non-null    int64
 1   MovieID         605 non-null    object
 2   Title           605 non-null    object
 3   Lifetime Gross  605 non-null    object
 4   Year            66 non-null     object
 5   Studio          60 non-null     object
 6   Rating          60 non-null     object
 7   Runtime         60 non-null     float64
 8   Budget          60 non-null     float64
 9   ReleaseDate     60 non-null     object
 10  VoteAvg         60 non-null     float64
 11  VoteCount       60 non-null     float64
 12  FranchiseID     60 non-null     float64
dtypes: float64(5), int64(1), object(7)
memory usage: 61.6+ KB

In [3]:
df.isnull().sum()

index               0
MovieID             0
Title               0
Lifetime Gross      0
Year              539
Studio            545
Rating            545
Runtime           545
Budget            545
ReleaseDate       545
VoteAvg           545
VoteCount         545
FranchiseID       545
dtype: int64